@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inria Sans", sans-serif;
}

.logo {
  height: 50em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.logo:hover {
  filter: drop-shadow(0 0 2em black);
}

.title {
  font-size: clamp(2rem, 5vw, 6rem);
  text-align: left;
  margin: 0;
  padding: 0 2vw;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 1.5rem;
}

.shop, .info {
  display: flex;         /* Modern layout alternative */
  align-items: center;   /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  width: 60px;          /* Defined width */
  height: 60px;          /* Defined height */
    margin-right: 50px;
    margin-top: 0;
    position: absolute;
}

.shop {
    top: 2.7rem;
    right: 10rem;
}



.shop:hover, .info:hover {
  color: #d7d7d751;
  border-color: #d7d7d751;
}

.header {
  padding: 0;
  display: flex;
  gap: 0;
}

.info {
    right: -2.4rem;
    top: -0.01rem;
    width: 150px;
    height: 150px;
}